@mixin debug-layout {
  border: 1px black solid;
}

#main {
  height: 600px;
  display: flex;
}

.nav-bar {
  @include debug-layout;
  flex-grow: 1;
  overflow: auto;
}

#btn-newspec {
  margin: 5px;
}

.left-side {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-side {
  @include debug-layout;
  flex-grow: 1;
  height: 100%;
}

.modal {
  display: flex;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.editor {
  flex-grow: 1;
}

/* Prevent the body to scroll while the modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}
