@mixin debug-layout {
  border: 1px black solid;
}

#main {
  height: 600px;
  display: flex;
}


.left-side {
  width: 175px;
  height: 100%;
  display: flex;
  flex-direction: column;

  border-right: 2px rgba(0, 0, 0, 0.2) solid;
  padding: 0 10px 0 10px;
}

.nav-bar {
  flex-grow: 1;
  overflow: auto;
}

.right-side {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.05);
}

.mode-bar {
  height: 50px;
}

.main-view {
  flex-grow: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.editor {
  flex-grow: 1;
}

/* Prevent the body to scroll while the modal is open */
.ReactModal__Body--open {
  overflow: hidden;
}

.preview {
  position: relative;
  border: 1px white solid;

  &.active {
    border: 1px orange solid;
  }
}


.modal-toolbar {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.modal-buttons {
  display: flex;
}

.error-msg {
  font-style: italic;
  color: red;
  margin: 10px;
}

.preview-side {
  position: absolute;
  right: 0;
  top: 0;

  // bottom: 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.fake-button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-image {
  opacity: 0.6;
}

.new-spec {
  margin-bottom: 10px;
}
